.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background-color: #ffffff;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: 100%;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
  border-bottom-width: 1px;
}

.header-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.input-search {
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 0%;
  display: flex;
  margin-right: auto;
  margin-left: 1.25rem;
}

.input-search input {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
}

.input-search input:hover {
  background-color: rgba(243, 244, 246, 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex: 1 1 0%;
}

.admin-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.admin-icon button {
  padding: 0.25rem;
  background-color: rgba(229, 231, 235, 1);
  border-radius: 9999px;
}

.admin-icon button img {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.content {
  flex: 1 1 0%;
  max-height: 100%;
  padding: 1.25rem;
  overflow: hidden;
  overflow-y: scroll;
}

.content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom-width: 1px;
}

.content-title h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  white-space: nowrap;
}

.modal-body {
  background-color: whitesmoke;
  border: 1px solid #282c34;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 400px;
}

.modal-body .MuiTextField-root {
  margin-bottom: 12px;
}

.modal-body .save-btn {
  width: 105px;
  margin-top: 20px;
}
